# specify here the path of the virsh bin

# for linux, unix, aix, ...
unix.virsh.path="/usr/bin/virsh"
unix.hypervisor.url="qemu:///system"

# for mac os X
mac.virsh.path="/usr/local/bin/virsh"
mac.hypervisor.url="qemu+ssh://root@127.0.0.1:8210/session?socket=/var/run/libvirt/libvirt-sock"

node.location="127.0.0.1"

hypervisor.url="127.0.0.1:8210"

vm.ssh.username="jonathan"
vm.ssh.port=22

network.type=flauncher